<div class="container-w">
        <h3>Lista de Cursos</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of listCourse; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{list.name}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="goCourse(list)"><i class="fa fa-eye"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>