<div class="container-w">
    <h3>Lista de Directores</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Colegio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of listDirectores; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{list.firstname}}</td>
            <td>{{list.schoolname}}</td>
            <td>
                <button type="button" class="btn btn-success" style="margin-right:20px;" (click)="action(1,list)"><i class="fa fa-unlock" ></i></button>
                <button type="button" class="btn btn-danger" (click)="action(0,list)"><i class="fa fa-lock"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>