.container-login {
    width: 100%;
    height: 100vh;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .card-box {
        width: 450px;
        background: white;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        h3 {
            font-size: 35px;
            margin: 0;
            color: #636363;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            input {
                margin-top: 30px;
            }
            .dataUser {
                padding: 10px 20px;
                box-sizing: border-box;
                font-size: 20px;
                font-weight: 100;
                border-radius: 20px;
                border: 1px solid #28ef9f;
                outline: none;
            }
            button {
                padding: 15px 5px;
                margin-top: 20px;
                border-radius: 35px;
                background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
                border: none;
                color: white;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                outline: none;
            }
        }
    }
}