<div class="container-w">
    <h3><button (click)="goBack()" type="button" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> Atras</button>Curso: Nombre</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Alumno</th>
            <th scope="col">nombre</th>
            <th scope="col">Nota 1</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">1</th>
            <td>richard</td>
            <td>richard solis</td>
            <td>
              <input type="number">
            </td>
          </tr>
        </tbody>
      </table>
</div>