<div class="container-w">
    <h3><button (click)="goBack()" type="button" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> Atras</button>Curso: {{nameCourse}}</h3>
    <button (click)="editNota()" class="btn btn-primary" style="margin-bottom:30px;"><i class="fa fa-save"></i> Guardar Notas</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Alumno</th>
            <th scope="col">nombre</th>
            <th scope="col" *ngFor="let students2 of listStudents[0].grades">{{students2.gcourses_name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let students of listStudents; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{students.user.firstname}}</td>
            <td>{{students.user.username}}</td>
            <td  *ngFor="let students2 of students.grades; let i = index">
              <input type="number" [(ngModel)]="students2.grade">
            </td>
          </tr>
        </tbody>
      </table>
</div>